.inline-codespan {
  background-color: #ececec;
}

.maincontainer {
  
}

.tocmenu > .menu {
  padding-top: 100px; 
  overflow-y: scroll !important; 
}

.docscontainer {
  margin-top: 50px;
}

.tocmenu .menu a {
  cursor: pointer;
  color: grey !important;
}

.tocmenu .menu a:hover {
  color: #e81176 !important;
}


.item1 {
  min-width: 20%;
}

.item2 {
flex-grow: 1;
}

.footer {
  flex: 1 100%;
}

/*.menu ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}*/





.ui.vertical.menu .item>.label {
  float: left !important;
}


.menu .toc_h2 {
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0 7px 0;
}

.menu ul+.toc_h2{
  padding-top: 0;
}

.menu .toc_h3 {
  font-size: 14px;
  padding: 0 0 5px 10px;
}

.menu .toc_h4 {
  font-size: 12px;
  padding-left: 20px;
}



