
.hyperlooppink { color: #e81176;}
.hyperloopgreen { color: #149c8e;}

.accordian-div {
  
}

.toc-div {
  padding-left: 15px;
}

.inline-codespan {
  background-color: #ececec;
}

.body-container {
  background-color: red;
}

.sidenav-container {
  padding-top: 50px;
  background-color: blue;
}



.tocmenu .ui.menu{
  overflow-y: scroll !important;
}

.chapteranchor {
  padding-top: 85px;
  margin-top: -85px;
}


.tocmenu .menu a {
  cursor: pointer;
  color: grey !important;
}

.tocmenu .menu a:hover {
  color: #e81176 !important;
}


.item1 {
  min-width: 20%;
}

.item2 {
flex-grow: 1;
}

.footer {
  flex: 1 100%;
}

