<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- bundle from webpack -->
    <%= javascript_include_tag 'opal.js'%>
    <script src="dist/bundle.js"></script>

    
      <script src="dist/lunr.js"></script>
      <script src="dist/lunar_search_helpers.js"></script>



    <!-- <script src="dist/docs.js"></script> -->

    <!-- React and JQuery -->
    <!-- <script src="dist/semantic.min.js"></script> -->
    <!-- <script src="dist/docs.js"></script> -->
    
    <!-- stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <link href="./app/css/codemirror.css" rel="stylesheet">
    <link href="./app/css/one-dark.css" rel="stylesheet">
    <link href="./app/css/highlight-theme.css" rel="stylesheet">
    <link href="./app/css/override.css" rel="stylesheet">

    <link href="./app/css/docs.css" rel="stylesheet">
    <link href="./app/css/home.css" rel="stylesheet">


    <!-- cdn libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    <!-- Opal and Hyperloop -->
    
    <!-- <script src="http://cdn.opalrb.org/opal/current/opal.min.js"></script> -->
    <!-- <script src="https://rawgit.com/ruby-hyperloop/hyperloop-js/refactor/hyperloop.js"></script><script src="https://rawgit.com/ruby-hyperloop/hyperloop-js/refactor/hyper-router.js"></script> -->


    <!-- website application -->
    
    <%= javascript_include_tag 'app.js'%>

  </head>

  <body>

    <script type="text/javascript">

        





 $(document).ready(function() {
    //alert (getDatas());
//     var data = AllWebsiteDatas;
//     var searchquery = "library";
//     var searchresults = Searchquery(Lunrindex(data), data, searchquery);
    
//     $.each(searchresults, function(i,result) {
//         alert(result.text);  
//     }); 
 });



    </script>


    <script type="text/ruby">

    Document.ready? do
           
       #@globalIndex = `AllWebsiteDatas`
       

       #puts rubyobj[0][:text]
    end

    </script>
    


    <div id="hyperloopsite"></div>
    
  </body>
</html>
